<div class="container-md">
  <div>
    <h5>Education:</h5>
    <div>
      <strong>2012-2017</strong>
      <p>Yaroslavl Higher Military School of Air Defense of the Ministry of Defense of the Russian Federation , engineer majoring in Application and Operation of Special Purpose Automated Systems
        Diploma with honors, Yaroslavl, RF
      </p>
    </div>
    <div>
      <strong>2014-2016</strong>
      <p>Yaroslavl State Pedagogical University named after K.D.Ushinsky,
        program "Psychological and pedagogical education"
        Diploma with honors, Yaroslavl, RF
      </p>
    </div>
    <div>
      <strong>2019</strong>
      <p>LLC "AviaRemKompleks",
        program "Radar systems and complexes"
        Certificate of continuing education, Moscow, RF
      </p>
    </div>
    <div>
      <strong>2021 - now</strong>
      <p>Javascript developer (Angular) Attractor school, Bishkek, KR
      </p>
    </div>
  </div>
</div>
