<div>
  <p>
    <label for="userName">Enter user name </label>
      <input type="text" id="userName" placeholder="User name" #nameInput>
  </p>
  <p>
    <label for="userEmail">Enter user e-mail</label>
      <input type="text" id="userEmail" placeholder="User e-mail" #emailInput>
  </p>
  <p>
    <label for="active">Check active user</label>
      <input type="checkbox" id="active" #activeInput>
  </p>
  <p>
    <label for="role">Selected user role  </label>
      <select id="role" #roleSelector>
        <option value="User">User</option>
        <option value="Admin">Admin</option>
        <option value="Editor">Editor</option>
      </select>
  </p>
  <p>
    <button type="button" class="btn btn-success" (click)="addUser()">Create</button>
  </p>
</div>
