<div class="container-sm">
  <h3>My Contacts</h3>
  <p>
    <span>Phone: <strong>+996550797878</strong></span>
  </p>
  <p>
    <span>Telegram: <strong>+996550797878</strong></span>
  </p>
  <p>
    <span>Email: <strong>rn.gorbachev@gmail.com</strong></span>
  </p>
  <div class="p-2 border border-danger">
    <h4>Feedback</h4>
    <p>
      <label for="emailUser">Enter your email address <input id="emailUser" type="text" name="emailUser"
                                                             [(ngModel)]="emailUser"></label>
    </p>
    <p>
      <label for="textUser">Enter your email address <textarea id="textUser" name="textUser"
                                                               [(ngModel)]="message"></textarea></label>
    </p>
    <button type="button" class="btn btn-primary" (click)="openModal()">Send</button>
  </div>
  <app-modal title="Go to checkout?" [isOpen]="modalOpen" (close)="closeModal()">
    <div class="modal-body">
      <strong>{{ emailUser }}</strong>
      <p>
       Message: {{ message }}
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
      <button type="button" class="btn btn-success" (click)="sendMessage()">Send</button>
    </div>
  </app-modal>
</div>
