<div class="container p-3">
  <h2>My projects</h2>
  <div class="d-flex justify-content-start align-items-stretch">
    <div class="card m-2 w-25 btn card-size" *ngFor="let project of projects" (click)="showProject(project.path) ">
      <img alt="" src="{{ project.urlImg }}">
      <h5 class="card-title">{{ project.title }}</h5>
      <p class="card-description">{{ project.description }}</p>
    </div>
  </div>
</div>
