<nav class="navbar navbar-expand-lg navbar-dark bgNavbar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  <a class="navbar-brand" routerLink="/">My portfolio</a>
  <div class="navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/">Home</a>
      <a class="nav-link" routerLink="my-projects">My projects</a>
      <a class="nav-link" routerLink="about-me">About me</a>
      <a class="nav-link" routerLink="contacts">Contacts</a>
    </div>
  </div>
</nav>
