<header>
  <app-toolbar></app-toolbar>
</header>
<router-outlet></router-outlet>
<footer class="w-100">
  <p class="text-center p-3 m-0">
    <span class="mr-2">created by Roman Gorbachev</span>
    <a href="#" class="myEmail">rn.gorbachev@gmail.com</a>
  </p>
</footer>
