<div class="container">
  <div class="products">
    <app-products [products]="products"></app-products>
  </div>
  <div class="orders">
    <app-orders [products]="products"></app-orders>
  </div>
</div>
