<div>
  <label for="newGroup" class="mr-4"> <input id="newGroup" type="text" placeholder="enter name group" #inputGroup></label>
  <button type="button" class="btn btn-success" (click)="addGroup()">Create group</button>
</div>
