.myEmail {
  color: white;
  font-style: italic;
}

.box-image {
  background-image: url(https://wallpapercave.com/wp/wp2927841.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 704px;
}

.card-info {
  top: 40%;
  left: 30%;
  transform: translate(-60%, -70%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
