  <div class="box-image position-relative p-0">
    <div class="position-absolute p-5 card-info rounded-pill">
      <p>
        <span class="mr-2">Roman</span>
        <span>Gorbachev</span>
      </p>
      <p>
        "Hello my name is Roman"
      </p>
    </div>
  </div>
